body {
    font-family: sans-serif;
    background-color: #ECFAFC;
    padding: 300px 0 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    min-width: 50%;
}

/* Navbar */
.navbar {
    position: fixed;
    font-size: 18px;
    z-index: 10;
    background-color: #6096FC;
}

.dropdown {
    background-color: #6096FC !important;
}

.image-navbar {
    height: 40px;
    margin: 5px 5px 5px 10px;
}

#account-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#account-picture:hover {
    transform: scale(1.10);
    transition: all 0.3s ease 0s;
}

.nav-item {
    text-decoration: none;
    align-self: center;
    margin-right: 15px;
    position: relative;
    color: #EEEEEE;
}

.nav-link {
    color: #EEEEEE;
}
/* underline animation */
.heading{
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #EEEEEE;
}
/* stay color */
.heading:hover {
    color: #EEEEEE;
}
.heading::after {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 5px;
    background-color: #EEEEEE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.heading:hover::after {
    width: calc(100% - 10px);
    color: #EEEEEE;
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Footer */
.footer {
    padding: 50px 2.5%;
    color: #EEEEEE;
    background-color: #6096FC;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
}

.footer h3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 1.1em;
}

.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer .item .text {
    margin-bottom: 36px;
}

.footer .item .text p {
    opacity: 0.6;
}

.footer .copyright {
    text-align: center;
    padding-top: 15px;
    opacity: 0.6;
}

.footer-image {
    height: 70px;
    text-align: center;
    margin-top: 5px;
}
.wrapper{
    z-index: 1;
    left: 40%;
    justify-content: center;
    position: fixed;
    max-width: 430px;
    width: 100%;
    background: white;
    padding: 34px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
#login-wrapper{
    display: none;
}
#signup-wrapper{
    display: none;
}
.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 15px;
    background: #00C2DD;
}
.wrapper form{
    margin-top: 30px;
}
.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #4070f4;
}
form .policy{
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #00C2DD;
    cursor: pointer;
}
.input-box.button input:hover{
    background: #00C2DD;
}
form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color: #4070f4;
    text-decoration: none;
}
form .text h3 a:hover{
    text-decoration: underline;
}
.switch-mode{
    color: #00C2DD;
}
#switch-to-login{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}
#switch-to-signup{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}
.switch-mode-paragraph{
    justify-content: center;
    display: flex;
}