body {
    font-family: sans-serif;
    background-color: #EEEEEE;
    padding: 80px 0 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-width: 50%;
    justify-content: center;
}

.btn {
    background-color: #3751AD;
    color: #EEEEEE;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #26397a !important;
    color: #EEEEEE !important;
}

/* Top items */
.top-items {
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    z-index: 25;
}

.dropdown-item {
    cursor: pointer;
}

#ordering-btn {
    margin-right: 30px;
}

#create-tasklist-btn {
    margin-right: 30px;
}

#filter-img {
    height: 30px;
}

#filter-btn {
    background: none;
    box-sizing: border-box;
    border: solid 2px transparent;
}

#filter-btn:hover {
    background-color: #EEEEEE !important;
    color: #00C2DD !important;
    border: solid 2px #3751AD;
}

/* Create Tasklist Form */
#create-tasklist-form {
    display: none;
    width: 40%;
    transform: translateX(75%);
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #00c2dd;
    color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#invite-btn #tags-btn {
    align-self: flex-end;
}

#tags-btn {
    float: right;
}

.form-select {
    margin: 10px 0;
    max-height: 37px;
    align-self: flex-end;
}

/* Invite Modal */
#invite-user-btn {
    margin-top: 10px;
    background-color: #00C2DD !important;
    color: #EEEEEE !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#invite-user-btn:hover {
    background-color: #EEEEEE !important;
    color: #00C2DD !important;
}
.wrapper {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    max-width: 540px; /* max-width is now 90% of the viewport width */
    width: 100%; /* width is now 90% of the parent element's width */
    background: white;
    padding: 2vw; /* padding is now 2% of the viewport width */
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.TaskOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

#login-wrapper{
    display: none;
}
#signup-wrapper{
    display: none;
}
.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.wrapper h2::before{
    margin-top: 10px;
    margin-left: 10px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 15px;
    background: #00C2DD;
}
.wrapper form{
    margin-top: 30px;
}
.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #4070f4;
}
form .policy{
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #00C2DD;
    cursor: pointer;
}
.input-box.button input:hover{
    background: #00C2DD;
}
form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color: #4070f4;
    text-decoration: none;
}
form .text h3 a:hover{
    text-decoration: underline;
}
.switch-mode{
    color: #00C2DD;
}
#switch-to-login{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}
#switch-to-signup{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}
.switch-mode-paragraph{
    justify-content: center;
    display: flex;
}

#create-task-form {
    display: none;
    width: 40%;
    max-width: 325px;
    padding: 20px;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin-top: 20px;
    background-color: #00c2dd;
    color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#date-task-input-div {
    margin-right: 10px;
}

#start-time-input-div {
    margin-right: 10px;
}

#fullday-event-input {
    border-radius: 10rem;
}

#description-event-input {
    height: 8rem;

}



