body {
    font-family: sans-serif;
    background-color: #ECFAFC;
    padding: 80px 0 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-width: 50%;
    justify-content: center;
}
/* Top items */
.top-items {
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#ordering-btn {
    margin-right: 30px;
}

#create-tasklist-btn {
    margin-right: 30px;
}

#filter-img {
    height: 30px;
}

/* Create Tasklist Form */
#create-form {
    display: none;
    width: 40%;
    transform: translateX(75%);
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #00c2dd;
    color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#create-form button {
    margin-top: 10px;
    background-color: #3751AD;
    color: #eeeeee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#invite-btn #tags-btn {
    align-self: flex-end;
}

#tags-btn {
    float: right;
}

.form-select {
    margin: 10px 0;
}
