/*
.tasklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasklist h1 {
    font-size: 30px;
    margin-bottom: 20px;
}*/

#tasklists {
    width: 40%; /* Set the width of your div */
    margin: 0 auto; /* This will center the div horizontally */
}

.card {
    background-color: #3751AD;
    margin-top: 30px;
    /* round corner*/
    border-radius: 30px;
    /* shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
}

.card-title {
    color: #262628;
    padding: 8px;
    font-size: 20px;
    background-color: #EEEEEE;
    border-radius: 15px;
}

.card-text {
    color: #EEEEEE;
    padding: 8px;
    font-size: 18px;
}
